<!DOCTYPE html>
<html>
  <head>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Styles -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/principal.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>

    <title>Usuarios</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
          <a class="navbar-brand" href="/">Agenda de Contactos
              <i class="fas fa-home fa-1x"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">

                  <li class="nav-item dropdown active">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Contactos
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Contactos</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Nada</a>
                      </div>
                  </li>

                  <li class="nav-item dropdown active">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Mantenimiento
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Usuario</a>
                      </div>
                  </li>

                  <li class="nav-item dropdown active">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Ayuda
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Acerca de Agenda de Contactos</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown active">
                      <a id="navbarDropdown" class="nav-link " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                          Usuario <span class="caret"></span>
                      </a>
                  </li>



              </ul>
          </div>
      </nav>
      <div class="main container mt-3">
        <div class="row">
          <div class="col-4">
            <form action="/users/user_new" method="post">
              <div class="form-group">
                <label for="dpi">DPI</label>
                <input type="text" class="form-control" name="dpi" id="dpi" >
              </div>
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="name" id="name" >
              </div>
              <div class="form-group">
                <label for="lastName">Apellido</label>
                <input type="text" class="form-control" name="lastName" id="lastName" >
              </div>
              <div class="form-group">
                <label for="address">Direccion</label>
                <input type="text" class="form-control" name="address" id="address" >
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="example@mail.com">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
          </div>
          <div class="col-8">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>DPI</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Direccion</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% items.forEach(function (item,i) { %>
                <tr>
                  <td style="display: none">
                    <span id="id_" class="<%- i %>"><%= item.id %></span>
                  </td>
                  <td><%= i %></td>
                  <td><%= item.dpi %></td>
                  <td><%= item.name %></td>
                  <td><%= item.lastName %></td>
                  <td><%= item.email %></td>
                  <td><%= item.address %></td>
                  <td>
                        <button type="button" onclick="delete_user('<%- item.id %>')" name="delete" class="btn btn-danger">Eliminar</button>
                 </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>



  </body>
</html>
<script>
  function delete_user($id){
    console.log($id);
    $.ajax({
        type:'DELETE',
        url: '/users/'+$id,
        data: {
            "id" : $id
        },
        success:function(data){
            toastr.options = {
                "preventDuplicates": true,
                "timeOut": 30
            };
            toastr.warning('Deleted.');
            location.reload();
        }
    });
  }
</script>
